body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 11px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #fcfcfc; /* El color del fondo de la página web */
    color: #000000; /* El color del texto*/ 
}
h1:hover { animation: color-change 3s infinite; }
h4 {
  animation: color-change 3s infinite;
}
@keyframes color-change {
  0%   { color: blue; }
  33%  { color: red; }
  67% { color: green; }
  100% { color: blue; }
}
img {
    width: 300px; /* Ancho de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    border: 2px solid #000000; /* Borde de las imágenes */
}
